<!DOCTYEP html>
<html lang="ja">
<head>
  <title>index</title>
</head>
  <body>
    <header>
    　<h1>ヘッダー topページについての説明はどこにあるのか教えてほしい。</h1>
      <h2>つぶやき一覧</h2>
    </header>
    <p><%= notice %></p>
    <table class = "index_table">
      <tr>
        <th>投稿内容</th>
      </tr>
      <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><%= link_to '詳細', tweet_path(tweet.id) %></td>
        <td><%= link_to '編集', edit_tweet_path(tweet.id) %></td>
        <td><%= link_to '削除', tweet_path(tweet.id), method: :delete %></td>
      </tr>
    <% end %>
    </table>
    　<div class = "tweet">
        <%= link_to '投稿画面へ', new_tweet_path %>
      </div>
    <footer>
      <p class="position">つぶやかないで。</p>
    </footer>
  </body>
</html>